<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"
    
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>CLIENTE</h2>
            <div class="size">
            </div>
            <div class="">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">REGISTRARSE</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>INSTRUCTORES</h2>
            <div class="size">
            </div>
            <div class="">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">INSTRUCTORES</a>
          </div>
        </div>
      </div>
      <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa fa-twitter icon"></i>
            </a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa fa-google icon"></i>
            </a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa fa-instagram icon"></i>
            </a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa fa-linkedin icon"></i>
            </a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fa  fa-github icon"></i>
            </a>
          </section>
          <!-- Section: Social media -->
        
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="#">HardCode Team 7</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>