<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min-registro-roles.css}">
    <link rel="stylesheet" th:href="@{/css/roles.css}">
    <!--== Favicon ==-->
    <link rel="shortcut icon" th:href="@{/img/logo_playgym.png}" type="image/x-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css"/>
    <title>REGISTRO DE ROLES</title>
</head>
<body>
    
    
    
        <!--== Start Header Wrapper ==-->
    
        <nav class="navbar">
            <div class="container d-flex justify-content-center">
              <a class="navbar-brand" href="#">
                <img th:src="@{/img/playgymregisterroles.png}" alt="" width="150" height="100">
              </a>
            </div>
          </nav>
        <!--== End Header Wrapper ==-->



    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col col-lg-3">
                <a th:href="@{/auth/sign-up/cliente}">
                <div class="profile-card-2 box"><img th:src="@{/img/imagen07roles.jpg}"
                        class="img img-responsive">
                    <div class="profile-name">CLIENTES</div>
                </div>
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="col col-lg-3">
                <a th:href="@{/auth/sign-up/asesor}">
                <div class="profile-card-2 box"><img th:src="@{/img/imagen08roles.jpg}"
                        class="img img-responsive">
                    <div class="profile-name">INSTRUCTORES</div>
                </div>
                </a>
            </div>
            
        </div>
    </div>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <div class="row">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
    
                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
    
                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-google"></i>
                    </a>
    
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
    
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
    
                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social media -->
    
                <!-- Grid container -->
    
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="#">HardCode Team 7</a>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>
    <!-- End of .container -->
    <!--== End Footer Area Wrapper ==-->
</body>
</html>