<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGymUsuario</title>
    <link rel="stylesheet" href="css/UsuarioStyles.css">
    <link rel="stylesheet" href="css/UsuarioGaleriaVideo.css">
    
    <script src="https://kit.fontawesome.com/6371acd121.js" crossorigin="anonymous"></script>
	
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    
</head>
<body>
    <header class="header" id="inicio">
        <img src="img/hamburguesa.svg" alt="" class="hamburger">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#servicio">Mi Perfil</a>
            <a href="#portafolio">Mis Rutinas</a>
            <a href="#expertos">Instructores</a>
            <a href="#contacto">Contacto</a>
        </nav>  
    </header>
    <section class="header1">
        <div class="titulo1">
            <h1>TREN SUPERIOR</h1>
        </div>   
    </section>
    <main>
        <section class="video-container">
            <div class="container">
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video1.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video2.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video3.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video4.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video5.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video6.mp4" loop></video>
                </div> 
            </div> 
        </section>
        <!-- -->
        <section class="header2">
            <div class="titulo2">
                <h1>TREN INFERIOR</h1>
            </div>   
        </section>
        <section class="video-container">
            <div class="container">
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video1-1.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video2-2.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video3-3.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video4-4.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video5-5.mp4" loop></video>
                </div>
                <div class="video">
                    <h4>Título</h4>
                    <video src="video/video6-6.mp4" loop></video>
                </div> 
            </div> 
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Play Gym</h2>
                <p>Te motivamos para que disfrutes de las mejores rutinas de entrenamiento</p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter' ></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>

    
    
    <script src="js/menu.js"></script>
    <script src="/js/video3.js"></script>
    
</body>
</html>
